html,body {
    height:100%;
    width:100%;
    margin:0;
  }

.AuthContainer{
    
    height: 800px;
    display: flex;
}


.AuthDiv{
    background-color: #D5F5E3;
    padding: 50px 20px;
    margin: auto;
    border-radius: 10px;
}

